.search_bar {
  margin: auto;
  position: relative;
  max-width: var(--max-width);
  margin-top: 30px;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input {
  width: 100%;
  height: 3rem;
  padding: 10px;
  border-radius: 10px;
  /* padding-right: 40px; Adjust the padding to fit the search icon */
}

.search_icon {
  position: absolute;
  right: 5px; /* Adjust the left position as needed */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

/* @media(max-width:767px) {
    .search_bar {
      width: 90%;
    }
  }
  
   */
