:root {
  --primary-color: steelblue;
  --secondary-color: skyblue;
  --font-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column-wrap {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}


